/* -----------------------
--------------------------
--------------------------

CSS TABLE OF CONTENTS

# GLOBAL STYLES
    # GLOBAL VARIBLES (Colors, fonts ,etc.)
    # GLOBAL COLORS
    # GLOBAL TYPOGRAPHY
    # GLOBAL MEDIA
    # GLOBAL HELPERS


# LAYOUT
    #MEDIA QUERIES'
    #TYPOGRPAHY

# SITE STRUCTURE
    # HEADER
        # LOGO
        # SITE NAV
        # TOGGLE MENU
        #NAV ICON + HAMBUGER
        # SITE HEADER ON TOP OF HERO
    # MAIN
        # SECTIONS
            # HERO
    # FOOTER

# UI COMPONTENTS 
    # BUTTONS
    # CARDS
# GLOBAL MEDIA (Making images responsive)

--------------------------
--------------------------
-------------------------*/

/* --------------------------
 ---------GLOBALS---------
 ---------------------------- */


/* GLOBAL VARIBLES */
:root {

    /* THESES ARE MY COLORS */

    --color-body-background: rgb(244, 243, 235);
    --color-text-body: var(--color-hero-headings);
    --color-text-headings: var(--color-hero-headings);
    --color-project-info: rgb(244, 243, 235);

    --color-links: #3b9c30;
    --color-links-hover: rgba(0, 0, 0, 0.674);
    --color-text-button-hover: rgba(0, 4, 1, 0.674);
    --color-links-dark: rgb(102 102 102);
    --color-links-darker: rgb(0 0 0);
    --color-links-light: rgb(90, 169, 198);
    --color-links-lighter: rgb(255 255 255);

    --color-siteheader-background: rgb(244, 243, 235);
    --color-siteheader-links: var(--color-hero-headings);

    --color-hero-background: rgb(244, 243, 235);
    --color-hero-text: var(--color-hero-headings);
    --color-hero-headings: #122911;

    --color-sitefooter-background: var(--color-text-headings);
    --color-sitefooter-text: rgb(244, 243, 235);
    --color-sitefooter-headings: rgb(244, 243, 235);
    --color-sitefooter-links: rgb(255 255 255);

    --color-togglemenu-text: rgb(255, 210, 158);
    --color-togglemenu-background: rgb(82, 194, 194);

    /* DEFINE ALL FONTS */
    --font-body: neulis-sans, sans-serif;
    --font-headings: ivyora-display, serif;

    /* SIZING UNITS */
    --container-width: 1100px;
    --unit-xs: .15em;
    --unit-small: 1em;
    --unit-medium: 2em;
    --unit-large: 4em;
    --gridgap: 2em;


}

/* GLOBAL RESET */

/* CHANING BOX-SIZING FOR ALL TO BORDER-BOX */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* REMOVE THE DEAULT 8px MARGIN ON BODY*/
body {
    margin: 0;
    overflow-x: hidden;

}


/* GLOBAL COLORS */

/* SET THE COLOR OF THE MAIN BODY TEXT */
body {
    color: var(--color-text-body);
    /* SET THE COLOR OF THE BACKGROUND */
    background-color: var(--color-body-background);
}

/* SET THE COLOR OF HEADINGS */
h1,
h2,
h3 {
    color: var(--color-text-headings);
}

a {
    /* SET THE COLOR OF ALL TEXT LINKS */
    /* color: var(--color-links); */

    /* THIS IS A NEST HOVER STATE */
    &:hover {

        color: var(--color-links-hover);
    }
}

/* GLOBAL TYPOGRAPHY */

/* FONT FAMILY */
/* BODY FONT */
body {
    font-family: var(--font-body);
    line-height: 1.4;
}

/* FONT WEIGHTS */

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

p {
    font-weight: 400;
    font-style: normal;
}

/* HEADING FONT  */
h1,
h2,
h3 {
    font-family: var(--font-headings);
}

/* TYPOGRAPHIC SCALE */

.hero h1 {
    text-align: left;
    /* font-size: 4em; */
}

@media (max-width: 768px) {
    .hero h1 {
        padding: .1em;
    }
}


h1 {

    /* SET H1 FONT SIZE */
    font-size: 6em;

    /* SET H1 LEADING */
    line-height: 1;
    padding-bottom: var(--unit-xs);
}

@media (max-width: 768px) {
    h1 {
        font-size: 3em;
        padding-bottom: var(--unit-xs);
        /* padding-left: var(--unit-xs); */
    }
}

h2 {

    /* SET H1 FONT SIZE */
    font-size: 2em;

    /* SET H1 LEADING */
    line-height: 1.2;
}

h3 {

    /* SET H1 FONT SIZE */
    font-size: 1.5em;

    /* SET H1 LEADING */
    line-height: 1.3;
}

p {
    /* max-width: 65ch; */
    text-wrap: pretty;
}

/* GLOBAL MEDIA */

img {
    /* MAKE ALL IMAGES SHRINK ON SMALL SCREENS */
    max-width: 100%;
    height: auto;
}

/* GLOBAL HELPERS */

/* HIDE ELEMENTS VISUALLY BUT NOT READERS AND SEARCH ENGINES */
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* .bottomleft {
    position: fixed;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    padding: 16px;
} */

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    padding: 16px;
}

@media (max-width: 768px) {
    .topleft {
        padding: 16px .3em 0 0;

    }
}

.fixed-ui .topleft {
    position: fixed;

}

/* .topright {
    position: fixed;
    top: 8px;
    right: 16px;
    font-size: 18px;
    padding: 16px;
}

.topright2 {
    position: fixed;
    top: 8px;
    right: 120px;
    font-size: 18px;
    padding: 16px;
}

.bottomright {
    position: fixed;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    padding: 16px;
}

.bottomright2 {
    position: fixed;
    bottom: 8px;
    right: 120px;
    font-size: 18px;
    padding: 16px;
} */

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


.topright-desktop {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: .875em;
    /* border: 1px solid red; */
    color: #ba0c0c;
}

.fixed-ui .topright-desktop {
    position: fixed;

}

.bottomright-desktop {
    /* border: 3px solid red; */
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: .875em;
}

/* This applies the fixed position when .fixed-ui is present */
.fixed-ui .bottomright-desktop {
    position: fixed;
}

@media (min-width: 768px) {
    .fixed-ui .topright-desktop {
        position: fixed;
    }

    .topright-desktop {
        top: 8px;
        right: 16px;
        font-size: 1.125em;
    }

    .bottomright-desktop {
        bottom: 8px;
        right: 16px;
        font-size: 1.125em;
        /* No position property here */
    }

    /* Add this to ensure the fixed position for desktop specifically */
    .fixed-ui .bottomright-desktop {
        position: fixed;
    }

    .site-logo svg {
        scale: .9;
    }
}



@media (max-width: 768px) {
    .bottomright-desktop svg {
        scale: .6;


    }



    .bottomright-desktop {
        right: 0;
    }

    .site-logo svg {
        scale: .8;

    }

    .biglogo {
        display: none;


    }

    .minilogo {
        display: block;
    }

}

@media (min-width: 768px) {
    .biglogo {
        display: block;
    }

    .minilogo {
        display: none;
    }

}





.topleft.biglogo.animate-rotation {
    /* writing-mode: vertical-lr; */
    animation: rotato-logo-big .8s forwards;
    transform-origin: right top;
}

@keyframes rotato-logo-big {
    0% {
        rotate: 0deg;
        translate: 0 0%;

    }

    /* 50% {
        rotate: -90deg;
        translate: -1% -5%;
    } */

    100% {
        rotate: -90deg;
        translate: -105% -10%;
    }
}


.topleft.animate-rotation {
    /* writing-mode: vertical-lr; */
    animation: rotato-logo .8s forwards;
    transform-origin: right top;
}

@keyframes rotato-logo {
    0% {
        rotate: 0deg;
        translate: 0 0%;

    }

    /* 50% {
        rotate: -90deg;
        translate: -1% -5%;
    } */

    100% {
        rotate: -90deg;
        translate: -120% -10%;
    }
}



.topright-desktop.animate-rotation {
    /* writing-mode: vertical-lr; */
    animation: rotato .8s forwards;
    transform-origin: right top;
}

@keyframes rotato {
    0% {
        rotate: 0deg;
        translate: 0 0%;
    }

    50% {
        rotate: 90deg;
        translate: 0 50%;
    }

    100% {
        rotate: 90deg;
        translate: 0 300%;
    }
}

.bottomright-desktop.animate-rotation {
    /* writing-mode: vertical-lr; */
    animation: rotato-botto .8s forwards;
    transform-origin: right top;

}

@keyframes rotato-botto {
    0% {
        rotate: 0deg;
        translate: 0 0%;
    }

    50% {
        rotate: 0deg;
        translate: 0 100%;
    }

    51% {
        rotate: 90deg;
        translate: 0 300%;
    }

    100% {
        rotate: 90deg;
        translate: 0 100%;
    }
}

/* New animation ONLY for the .bottomright-desktop list items */
.bottomright-desktop li {
    transition: transform 0.8s;
    transform-origin: center;
}

.bottomright-desktop.animate-rotation li {
    animation: rotate-item 0.8s forwards;
    animation-delay: calc(var(--item-index, 0) * 0.1s);
    /* Staggered animation */
}

@keyframes rotate-item {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    51% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}

/* --------------------------
---------LAYOUT--------------
-------------------------- */


/* RESPONSIVE TYPOGRAPHY  */



/* SMALL SCREENS (MOBILE < 768PX) */

body {
    /* 14 PX */
    font-size: 87.5%;
}

/* MEDIUM SCREENS (TABLETS < 1200PX) */
@media (min-width:768px) {
    body {
        /* 16 PX */
        font-size: 100%;
    }
}

/* LARGE SCREENS (LAPTOP/DESKTOPS > 1200PX) */
@media (min-width:1200px) {
    body {
        /* 16 PX */
        font-size: 112.5%;
    }
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 6em;
    width: 100%;

}

@media (max-width: 768px) {
    .container {
        padding: 0 2em;
        max-width: 100%;


    }
}

/* GRID */
/* LARGE SCREENS ONLY */
@media (min-width: 768px) {
    .row-main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 2em;


    }

    .one-half {
        grid-column: auto / span 6;
    }

    .one-third {
        grid-column: auto / span 4;
    }

    .two-thirds {
        grid-column: auto / span 8;
    }

    .one-fourth {
        grid-column: auto / span 3;
    }

    .three-fourths {
        grid-column: auto / span 9;
    }


}

#works {
    .row-main {
        margin-bottom: var(--gridgap);
    }
}

.row>* {
    /* margin-bottom: var(--gridgap); */
    margin-top: var(--gridgap);
}


/* for demo */
.demo>* {
    background-color: pink;
    padding: 1em;
    text-align: center;
}


/* CENTERED COLUMNS */
.one-half.centered {
    grid-column: 4/ span 6;
}

.one-third.centered {
    grid-column: 5/ span 4;
}

.two-thirds.centered {
    grid-column: 3 / span 8;
}


/* 12 COLUMN CLASSES */
.col-1 {
    grid-column: auto / span 1;
}

.col-2 {
    grid-column: auto / span 2;
}

.col-3 {
    grid-column: auto / span 3;
}

.col-4 {
    grid-column: auto / span 4;
}

.col-5 {
    grid-column: auto / span 5;
}

.col-6 {
    grid-column: auto / span 6;
}

.col-7 {
    grid-column: auto / span 7;
}

.col-8 {
    grid-column: auto / span 8;
}

.col-9 {
    grid-column: auto / span 9;
}

.col-10 {
    grid-column: auto / span 10;
}

.col-11 {
    grid-column: auto / span 11;
}

.col-12 {
    grid-column: auto / span 12;
}


/* PUSHES */
.push-1 {
    grid-column-start: 2;
}

.push-2 {
    grid-column-start: 3;
}

.push-3 {
    grid-column-start: 4;
}

.push-4 {
    grid-column-start: 5;
}

.push-5 {
    grid-column-start: 6;
}

.push-6 {
    grid-column-start: 7;
}

.push-7 {
    grid-column-start: 8;
}

.push-8 {
    grid-column-start: 9;
}

.push-9 {
    grid-column-start: 10;
}

.push-10 {
    grid-column-start: 11;
}

.push-11 {
    grid-column-start: 12;
}

/* SWAPPED (Reverse) WORKS ONLY WITH TWO CHILDREN */
/* .row-main.swapped>*:first-child {
    order: 2;
}

.row-main.swapped>*:last-child {
    order: 1;
} */

.mix {
    mix-blend-mode: difference;
    z-index: 5;
}


/* --------------------------
--------SITE STRUCTURE-------
-------------------------- */


/* SITE HEADER */
.site-header-nav {
    a {

        color: #F4F3EB;
    }
}

.fixed-ui {
    a {
        color: #edd6ee;
    }
}

.site-header {
    background-color: var(--color-hero-background);
    z-index: 4;


    /* PUT ALL HEADER CHILDREN SIDE-BY-SIDE AND VERT CENTERED ON LARGE SCREENS */
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    padding: 0;

    a {
        text-decoration: none;

    }

    /* SITE LOGO */
    .site-logo {

        /* PUT SITE LOGO CHILDREN SIDE-BY-SIDE AND CENTER */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;

        /* REMOVE MARGINS AND RESIZE H1 INSIDE HEADER */
        h1 {
            font-size: 2em;
            margin: 0;
            text-wrap: nowrap;
        }

        /* REMOVE THE SPACE UNDER THE LOGO MARK */
        img,
        svg {
            display: block;

        }


    }


    /* SITE-NAV */
    .site-header-nav {


        ul {
            /* REMOVE MARGINS & BULLETS FROM LIST */
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

        }

        /* MAKE SITE NAV LINKS BIG LIKE BUTTONS */
        a {
            display: block;
            padding: 1em;
        }

    }

}


/* TOGGLE MENU */

/* HIDE MENU BUTTON IF NOT USING TOGGLE NAV */

.site-menu-button {

    display: none;
}


@media (max-width:768px) {

    .toggle-menu {


        /* SET TOGGLE MENU COLORS */
        color: var(--color-togglemenu-text);


        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        /* SHOW MENU BUTTON IF USING TOGGLE NAV */
        .site-menu-button {
            display: block;
            background-color: transparent;
            border: 1px solid var(--color-siteheader-links);
            color: var(--color-siteheader-links);
            padding: .5em;
            position: relative;
            z-index: 100;
            transition: .4s all ease-out;

            /* RESET BUTTON FONT SIZE TO SAME AS SITE HEADER NAV */
            font-size: inherit;

            &:hover {
                cursor: pointer;
            }

            &:has(svg) {

                /* VERTICALLY ALIGN AND ADD GAP */
                display: flex;
                align-items: center;
                gap: calc(var(--unit-small) / 2);

                /* REMOVE BORDER */
                border: none;

                /* SET SVG COLOR */
                svg {
                    fill: var(--color-siteheader-links);
                }

                /* ADD SUPPORT FOR SVG ANIMATION */
                svg>* {
                    transition: .2s all ease-out;
                    transform-origin: center;
                }

            }

        }

        .site-menu {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 50;
            background-color: pink;
            width: 100%;
            min-height: 100svh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 3vw;
            transition: .4s all ease-out;

            a {
                padding: 2vh 2vw;
                color: var(--color-togglemenu-text);
            }
        }

        &[data-menustate="open"] {

            /* CHANGE COLORS TO TOGGLE MENU COLORS WHEN OPEN */
            --color-siteheader-links: var(--color-togglemenu-text);

            /* LOGO STAYS WHEN MENU IS OPEN< GET RID OF ME IF YOU DON'T WANT IT */
            .site-menu-button {
                position: fixed;
                z-index: 100;
            }

            /* SHOW THE SITE MENU WHEN OPEN */
            .site-menu {
                transform: translateX(0);
            }

            /* ANIMATE THE NAVICON + HAMBURGER ICON */
            .site-menu-button svg {

                .simple-navicon-top {
                    transform: translate(-21%, 25%) rotate(45deg);
                }

                .simple-navicon-middle {
                    opacity: 0;
                }

                .simple-navicon-bottom {
                    /* OLD SCHOOL VERSION */
                    transform: translate(-21%, -25%) rotate(-45deg);
                }
            }

        }

        &[data-menustate="closed"] {

            /* MOVE THE SIDE MENU TO THE RIGHT WHEN CLOSED */
            .site-menu {
                transform: translateX(100%);
            }
        }
    }
}




/* PLACE SITE HEADER ON TOP OF HERO ON LARGE SCREENS */
.site-header.on-top-of-hero {

    @media (min-width: 768px) {

        /* RENDER HEADER ON TOP OF HERO */
        /* position: absolute; */
        width: 100%;

        /* ADD MORE SPACE ON TOP FOR THE ABSOLUTE HEADER */
        &+.site-main>.hero {
            padding-top: calc(4em + var(--unit-large));
        }

    }

}















/* SITE MAIN */


/* SECTIONS */

section {
    padding: var(--unit-small);
    /* padding-bottom: var(--unit-small);
    padding-top: var(--unit-small); */



}

.no-pad {
    padding: 0;
}

/* HERO SECTION */
.hero {
    background-color: var(--color-hero-background);
    color: var(--color-hero-text);
    height: 100svh;
    position: relative;
    z-index: 1;
    text-align: center;
    display: grid;
    place-items: center;
    ;

    /* ADDING MORE SPACEON ON ABSOLUTE HEADER */
    /* padding-top: calc(4em + var(--unit-large)); */
    a {
        color: var(--color-links);
    }

    h1,
    h2,
    h3 {
        color: var(--color-hero-headings);
    }
}

.hero .one-half,
.hero .two-thirds,
.hero .one-third {
    text-align: left;


    a {
        padding-left: .4em;
    }
}

.hero-container {
    /* max-width: 1600px; */
    padding-top: 6em;
    margin: 0;
    border: 1px solid rgb(0, 255, 217);

}

.hero-text {
    /* padding: 7em 0 0 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    text-wrap: pretty;

    h1 {
        font-size: 5em;
    }
}

.subhero .hero-text {
    /* border: 1px solid red; */
    padding-top: 0;
    padding-left: 7em;
    /* padding-right: 7em; */

}

.dragon {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid red; */
    text-wrap: pretty;
}


@media (max-width: 715px) {
    .hero {
        text-align: left;
        padding-left: 2.5em;

        h1 {
            font-size: 3em;
        }
    }
}


/* SITE FOOTER */
.site-footer {
    background-color: var(--color-sitefooter-background);
    color: var(--color-sitefooter-text);
    padding-bottom: 2em;
    padding-top: 2em;


    h1,
    h2,
    h3 {
        color: var(--color-sitefooter-headings)
    }

    a {
        color: var(--color-sitefooter-links)
    }


    .site-nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-left: .4em;

        }

        a {
            text-decoration: none;
        }
    }

}

@media (max-width: 768px) {
    .site-footer {
        padding-bottom: 3em;
    }
}

.site-footer {
    h2 {
        padding: var(--unit-xs);

    }

    p {
        padding-bottom: var(--unit-small);
        padding-left: .4em;
        max-width: 50ch;
    }
}

/* --------------------------
------ UI COMPONENTS ---------
---------------------------- */


/* BUTTONS */



.button {
    /* BUTTON COLORS */
    /* border: 1px solid var(--color-hero-text); */
    color: var(--color-hero-text);
    /* background-color: var(--color-links-light); */

    /* ENABLE BOX MODEL STYLING */
    display: inline-block;
    border-radius: 5rem;
    padding-top: var(--unit-small);
    padding-left: var(--unit-xs);
    /* margin: var(--unit-small) 0; */
    text-decoration: none;

    +.button {
        margin-left: var(--unit-small);
    }

    &:hover {
        color: var(--color-text-button-hover);
        /* background-color: var(--color-links-hover); */
        border-color: var(--color-links-hover);
    }

    &.dark {
        border-color: var(--color-links-dark);
        background-color: var(--color-links-dark);
        color: var(--color-links-lighter);

    }

    &.dark:hover {
        color: var(--color-text-body);
        background-color: var(--color-links-hover);
        border-color: var(--color-links-hover);
    }
}

.project-info h1,
.project-info h2,
.project-info h3 {
    color: white;
}

.project-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* border: 3px solid yellow; */
    text-align: left;
    padding: 2em;

}

.project-info.info-sub {
    padding: 6em;
    z-index: 3;
}


.project-info .title {
    /*    
    border: 1px solid red; */
    grid-column: span 2;

}

.title {
    font-size: 4ch;

}

@media (max-width: 768px) {
    .title {
        font-size: 3em;
    }
}


.project-info .project-type {
    align-self: end;

}

.project-info .apps {

    align-self: end;
    justify-self: end;
    text-align: right;
}



/* HALF WIDTH WRAPPER */
.half-width-wrapper .project-info.info-sub {
    padding: 6em;
}

.half-width-wrapper img {
    transition: transform 0.3s ease;
}

.half-width-wrapper:hover img {
    transform: scale(1.03);
    /* Slightly enlarge image on hover */
}

.half-width-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    z-index: 0;
}

/* Style for project-info */
.half-width-wrapper .project-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    padding: 2em;
    color: white;
    /* background: rgba(0, 0, 0, 0.183); */
    z-index: 2;
    /* Ensure text is above */
}

/* Create background fade effect */
.half-width-wrapper .project-info::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
    /* Keep it behind text */
}

/* Show background on hover */
.half-width-wrapper:hover .project-info::after {
    opacity: 1;
}

@media (max-width: 768px) {
    .half-width-wrapper .project-info.info-sub {
        padding: 3em 2.5em 3em 2.5em;
    }

    .p-top {
        margin-top: 10px;
    }
}

/* HALF WIDTH WRAPPER */


/* ///////// FULL WIDTH WRAPPER */



.full-width-wrapper {
    grid-column: span 2;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.full-overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

@media (max-width: 768px) {
    .full-width-wrapper {
        grid-column: span 1;
        margin: 0;

    }

    .project-info.info-sub {
        padding: 1.5em 3em 2em 2em;
    }

}




/* Create the overlay using a pseudo-element */
.full-width-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.256);
    opacity: 0;
    transition: opacity 0.3s ease;

}

/* Show the overlay on hover */
.full-width-wrapper:hover::after {
    opacity: 1;
}

/* You might want to add a subtle effect to the image too */
.full-width-wrapper img {
    transition: transform 0.3s ease;
}

.full-width-wrapper:hover img {
    transform: scale(1.03);
    /* Slightly enlarge image on hover */
}

/* --------------------------
------ ANIMATION ---------
---------------------------- */


/* ADD SUPPORT FOR SMOOOOOOOTH SCROLLIN */

html {
    scroll-behavior: smooth;
}


/* ----------------------------
--------BACKGROUND COLOR WITH NO SWIPER---------
------------------------------ */

body {
    display: flex;
    flex-direction: column;
    height: 100svh;
}

#works,
#about {
    background-color: var(--color-hero-background);
}

header {
    width: 100%;
    background: white;
    /* flex-shrink: 0; */
    position: realtive;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background: teal;
    flex-shrink: 0;
    /* Keeps them at their defined size */
    /* height: 30svh; */
    /* Adjust as needed */
}

.section {
    padding-top: 6em;
    padding-bottom: 6em;
}

.about {
    height: 100svh;


}

#works {
    padding-bottom: var(--unit-large);
}

#projects {
    padding-top: 6em;
}

#projects .container {
    padding: 0;
    display: flex;
    justify-content: start;
}

#about {
    padding-top: 5em;

    a {
        color: #3aa22e;
    }

    h2 {
        padding: var(--unit-xs);

    }

    p {
        padding-bottom: var(--unit-small);
        padding-left: .4em;
    }

    img {

        margin-top: auto;

    }



    padding-bottom: 0;
}


#about .one-half.align-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

@media (max-width: 768px) {
    #about {
        padding-top: 6em;
    }

    img {
        display: flex;
        /* object-position: bottom; */
        bottom: 0;
        /* justify-content: flex-end; */
    }
}


#works,
#projects {


    h2 {
        padding-left: .2em;

    }

    a {
        padding-left: .65em;
        color: var(--color-links)
    }

}

#next {
    display: flex;
    justify-content: start;
    padding: 0 2em 2em 0;
    text-align: left;

    h1 {
        font-size: 4em;
    }

    a {
        text-decoration: none;
        color: #3aa22e;
    }

    a:hover {
        color: var(--color-links-hover);
    }

    .container {

        max-width: 1800px;
    }

}

@media (max-width: 768px) {
    #next {
        justify-content: end;
        padding: 0 2em 2em 0;

    }
}

/* Change from swiper-container to scroll-container */
.scroll-container {
    width: 90%;
    overflow-y: scroll;
    /* Ensure scrolling works */
    padding: 0px 100px 0px 100px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    display: block;
    text-align: center;
    /* Centers inline-block elements */
    margin: auto;
}

@media (max-width: 768px) {
    .scroll-container {
        padding: 0 2em;
        margin: 0;
        width: 100%;
    }
}

/* Change from swiper-slide to scroll-section */


.scroll-section {
    /* all your existing styles */
    margin: 20rem 0;
    /* other styles */
}

@media (max-width: 768px) {
    .scroll-section {
        margin: 10rem 0;
    }
}

.scroll-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    text-align: center;
    /* margin: 20rem 0; */
    z-index: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.327);
    border-radius: 11px;
    opacity: 0;
    /* Start with opacity 0 */
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    /* Add smooth transitions */
    transform: scale(0.95);

    /* Start slightly smaller */
}



.scroll-section img {
    border-radius: 10px;
}

@media (max-width: 460px) {
    .project-info {
        padding: 1.5em;
    }

    .title {
        font-size: 2.05em;
    }

    .project-type {
        font-size: 1.1em;

        font-weight: 700;
    }

    .apps {
        font-size: .9em;

        font-weight: 700;
    }
}

.scroll-section[data-visible="visible"] {
    opacity: 1;
    transform: scale(1);
}

.scroll-section[data-visible="hidden"] {
    opacity: 0;
    transform: scale(0.95);
}

/* This is card color/background image*/
.img1 {
    background-color: pink;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

/* Make the image cover the entire area */
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.img2 {
    background-color: teal;
    background-size: cover;
}

.img3 {
    background-color: yellow;
}

.background-image {
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 1.2s linear;
    background-size: cover;
    scale: 1.1;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

/* Background colors */
.tint {
    background-color: rgba(21, 5, 65, 0.223);
    background-blend-mode: multiply;
}


.background-image[data-currentslide='0'] {
    background-image: url(../img/Frenzi/frenzihero.png);
}

.background-image[data-currentslide='1'] {
    background-image: url(../img/sav/sav_black.png);
}

.background-image[data-currentslide='2'] {
    background-image: url(../img/talk/talk_hero.png);

}

.background-image[data-currentslide='3'] {
    background-image: url(../img/pitviper/pv_helmet.png);
}
















/* --------------------------- */
/* --------------------------- */
/* ------SUB SECTIONS--------- */
/* --------------------------- */
/* --------------------------- */

.subhero {
    background-color: var(--color-hero-background);
    /* border: 1px solid blue; */
    padding: 0;

    margin: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0;

    }

    h1 {

        padding: 0;
        margin: 0;
        /* padding-top: 2em; */
        place-items: center;
        margin: 0;
    }

}

@media (max-width: 768px) {

    .subhero .hero-text {
        padding-left: 5em;
    }

    .subhero {
        padding: 0;
        margin: 0;


    }

    .subhero img {
        display: none;
    }

    .subhero {
        color: white;
        /* Adds a semi-transparent black tint */

        background-image: url(/img/Frenzi/frenzi_wall_test.png);

        background-repeat: no-repeat;
        background-position: right;
        height: 100vh;
        display: grid;
        background-size: cover;
        place-items: center;
        padding: 0;
        margin: 0;


        h1 {
            color: white;
            /* padding-top: 2.5em; */


        }
    }

    .subhero.sav {
        color: white;
        /* Adds a semi-transparent black tint */

        background-image: url(/img/sav/sav_door_mobile.gif);

        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        display: grid;
        background-size: cover;
        place-items: center;
        padding: 0;
        margin: 0;


        h1 {
            color: white;

            /* padding-top: 2.5em; */


        }

    }
}

.subhero.sav .hero-text {
    max-width: 40em;
}

.test {
    /* max-width: 50%; */
    display: grid;
    height: 100svh;
    grid-template-columns: 1fr 1fr;

}

.sub-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 3em;

    h3 {

        font-style: italic;
        font-weight: 500;
    }

    h1 {
        text-align: left;
    }

    h2 {
        padding-bottom: var(--unit-xs);
        padding-left: .1em;
        text-align: left;
    }

    p {
        padding-left: .3em;
    }
}



/* ////////////////////// */
/* SUBSECTION GRID LAYOUT */
/* ////////////////////// */

.subcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    background-color: var(--color-hero-background);
    padding: 0;
    margin: 0;
    ;
}

@media (max-width: 768px) {
    .sub-section {
        margin: 0;

        h1 {
            font-size: 4em;
        }
    }

    .subhero {
        h1 {
            font-size: 5em;
            ;
        }

        padding-left: 0;
    }
}

/* Row container for each pair */
.row {
    display: contents;
    /* Makes the row container invisible to the grid layout */
}

/* Styling for the images */
.subcontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
}

/* Make full-width elements span two columns */
.full-width {
    grid-column: span 2;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sub-one-third-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    /* Changed from 100svh */
    max-width: 100%;


}

.sub-one-third img {
    width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
}



/* Responsive Layout for Mobile */
@media (max-width: 768px) {
    .subcontainer {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    /* In mobile view, rows become visible flex containers */
    .row {
        display: flex;
        flex-direction: column;
    }

    /* You can add this class to rows you want to reverse in mobile */
    .row-reverse {
        flex-direction: column-reverse;
    }

    .subcontainer img {
        height: auto;
        padding: 0;
    }

    .full-width {
        grid-column: span 1;
        width: 100%;
    }

    .sub-one-third-container {
        grid-template-columns: 1fr;
    }

    .sub-one-third {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sub-one-third-container .sub-section {
        display: grid;
        /* padding: 0 7em 0 7em; */
        /* max-width: 30ch; */
        text-align: left;
        justify-content: center;
    }

}


/* LAST NIGHT - I worked on trying to swapp things but it is not working */

.spacer {
    padding: var(--unit-large);
}


/* SPLASH SCREEN UI */
.splash-screen {
    position: fixed;
    z-index: 3;
    background-color: rgb(0 0 0 / 1);
    color: white;
    width: 100%;
    height: 100svh;
    display: grid;
    place-items: center;
    animation-name: splash-chuck;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1, -0.01, .72, 1.01);
    animation-fill-mode: forwards;
    animation-delay: .6s;



}


/* SPLASH SCREEN ANIMATION */
@keyframes splash-chuck {
    100% {
        translate: 100% 0;
    }
}

.background-image[data-currentslide='0'] {
    padding: 0;
    margin: 0;
}